apiVersion: v1
kind: Config
clusters:
- cluster:
    #certificate-authority: /var/lib/kubernetes/ca.pem
    insecure-skip-tls-verify: true
    server: http://{{ kubernetes_master_url }}:8080
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubelet
  name: kubelet
current-context: kubelet
users:
- name: kubelet
  user:
    token: kubelet123
