apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: /var/lib/kubernetes/ca.pem
    #insecure-skip-tls-verify: true
    #use the first available master
    server: https://{{ hostvars[groups['controller'][0]].ec2_private_ip_address }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: admin
  name: admin
current-context: admin
users:
- name: admin
  user:
    token: admin123
